.popular-foods{
    padding: 64px;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    background-image: url(../../assets/popular_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
    overflow: hidden;
}

.popular-foods__title{
    color: #fff;
    font-family: var(--playfair-display);
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    line-height: 78px;
}
.popular-foods__filters{
    margin-top: 48px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.popular-foods__filter-btn{
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 46px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    cursor: pointer;
}

.popular-foods__filter-btn img{
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.active{
    background: #fff;
    color: var(--secondary-color);
}

.popular-foods__filter-btn:hover{
    background: #fff;
    color: var(--secondary-color);
}

.popular-foods__catalogue{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 56px;
    flex-wrap: wrap;
}

.popular-foods__button{
    object-fit: contain;
    padding: 20px 30px;
    margin: 80px auto 0;
    font-size: 16px;
    line-height: 23px;
    font-family: var(--plus-jakarta-sans);
    background: var(--secondary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 46px;
    cursor: pointer;
}

.popular-foods__button img{
    width: 14px;
    height: 14px;
    margin-left: 20px;
    align-items: center;
}

.popular-foods__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px;
    min-width: 280px;
    height: fit-content;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.popular-foods__card-image{
    width: 110px;
    height: 80px;
    object-fit: contain;
}

.popular-foods__card-title{
    margin-top: 32px;
    font-size: 24px;
    font-family: var(--playfair-display);
    color: #fff;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
}

.popular-foods__card-details{
    width: 100%;
    margin-top: 28px;
}

.popular-foods__card-rating{
    display: flex;
    align-items: center;
    gap: 8px;
}

.popular-foods__card-rating img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.popular-foods__card-rating p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
}

.popular-foods__card-price{
    font-size: 22px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    font-weight: 500;
}

.popular-foods__card.active-card{
    background: #fff;
    min-width: 340px;
}

.popular-foods__card.active-card
.popular-foods__card-image{
    width: 220px;
    height: 160px;
}

.popular-foods__card.active-card
.popular-foods__card-title{
    color: var(--secondary-color);
    font-size: 34px;
}

.popular-foods__card.active-card
.popular-foods__card-rating img{
    width: 32px;
    height: 32px;
}

.popular-foods__card.active-card
.popular-foods__card-rating p{
    color: var(--secondary-color);
    font-size: 26px;
}

.popular-foods__card.active-card
.popular-foods__card-price{
    color: var(--secondary-color);
    font-size: 27px;
}